<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>BeeBark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">BeeBark</label>

    <ul>
        <li><a class="active" th:href="@{/user/homepage}">Home</a></li>
        <li><a th:href="@{/user/about}">About</a></li>
        <li><a th:href="@{/user/viewProduct}">Breed</a></li>
        <li><a th:href="@{/user/contact}">Contact</a></li>
        <li><a th:href="@{/user/viewGallery}">Gallery</a></li>
        <li th:if="${prof!=null}"><a th:href="@{/user/profile/} + ${prof.id}" > <span th:text ="${prof.getFullname}" ></span></a></li>
        <li th:if="${prof==null}"><a th:href="@{/user/profile/}"></i> Login</a></li>
    </ul>
</nav>
</body>
</html>
