<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

</head>
<body>

<div th:replace="~{/decorator/header.html}"></div>


<section class="register">

        <form th:method="post" th:action="@{/user/send-message}" th:object="${contact}">
            <h3>Get in Touch</h3>
            <p>Message us your messsage </p>

                <input type="text" placeholder="Full Name" required th:field="*{fullname}" th:value="${contact.fullname}" class ="box">
                <input type="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required th:field="*{email}" th:value="${contact.email}" class ="box">
                <input type="number" placeholder="Number" required th:field="*{number}" th:value="${contact.number}" class="box">
                <input type="text" placeholder="Subject" required th:field="*{subject}" th:value="${contact.subject}" class="box" >
                <textarea name="" placeholder="Message" id="" cols="30" rows="10" required th:field="*{message}" th:value="${contact.message}" class="box"></textarea>
            <input type="submit" value="Send Message" class="btn">

    </form>

</section>


<div th:replace="decorator/footer.html "></div>

</body>
</html>
